.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 60px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  width: 100%;
  position: relative;
  z-index: 100;
}

/* Left */
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  font-size: 24px;
  color: #a78bfa;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #111;
  text-decoration: none;
}

/* Center Menu */
.nav-center {
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.nav-center li {
  cursor: pointer;
}

.nav-link {
  color: #111;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Right */
.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.signup {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #111;
}

.lock-icon {
  font-size: 14px;
  color: #a78bfa;
}

.trial-btn {
  background-color: #a78bfa;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
}

.trial-btn:hover {
  background-color: #8b5cf6;
}

/* Hamburger Icon */
.menu-icon {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 900px) {
  .nav-center {
    position: absolute;
    top: 70px;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: #A88BFA;
    /* padding: 20px 0; */
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    /* border-top: 1px solid #eee; */
  }

  .nav-center.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    gap: 5px;
    margin-top: -2vh;
  }

  /* .nav-right {
    gap: 10px;
  } */

  .menu-icon {
    display: flex;
    font-size: 25px;
  }

  .nav-center li {
    margin: 15px 0;
    text-align: center;
  }

  .trial-btn {
    display: none;
  }

  .signup {
    display: none;
  }

  .navigation {
    padding: 10px 15px;
  }

  .nav-link {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: justify;
    padding: 0 30px;
  }
}