.About-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #EAE5FF;
    padding-top: 40px;
}

.About-section-container span {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1px;
    width: 100%;
}


.About-img-section img {
    margin-top: 5vh;
    width: 100%;
}

.rating-section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 60px; */
    text-align: center;
}

.rating-section p {
    font-size: 19px;
    letter-spacing: 0.7px;
    font-weight: 500;
    color: rgb(157, 153, 153);
}

.team-section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -7vh;
}

.team-section {
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    width: 43vh;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    background-color: #E9E5FF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.team-section:hover {
    transform: translatex(10px) scale(1.03);

}

.team-section h1 {
    font-size: 2rem;
    margin-top: 2vh;
    letter-spacing: 0.4px;
}

.team-section p {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
}

.team-section img {
    width: 30vh;
}

@media(max-width:900px) {
    .rating-section-container {
        display: flex;
        flex-direction: column;
    }

    .team-section-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 0;
    }

    .team-section {
        padding: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 30px;
        width: 43vh;
        transition: none;
        background-color: #E9E5FF;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .team-section:hover {
        transform: none;

    }
    .rating-section{
        margin-top: 3vh;
    }


}