.Services-page-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.services-section {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
}

.services-section h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    width: 60vh;
}

.services-section span {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    display: block;
    letter-spacing: 1px;
    width: 100%;
}

.Services-img-section {
    flex: 1;
    /* min-width: 300px;
    max-width: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.Services-img-section img {
    width: 100%;
    /* max-width: 400px; */
    height: auto;
    animation: float 4s ease-in-out infinite;
}

/* Float Animation */
@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }
}

.ServicesData-img-section img {
    color: white;
    /* background-color: black; */
    padding: 20px;
}

.ServicesData-img-section {
    width: 42vh;
    height: 33vh;
    padding: 28px;
    text-align: justify;
    border-radius: 35px;
}

.ServicesData-section-containers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 0;

}

.ServicesData-img-section p {
    font-size: 20px;
    letter-spacing: 0.5px;
    line-break: anywhere;
}

.ServicesData-img-section span {
    font-size: 16px;
    letter-spacing: 1px;
    line-break: anywhere;
}

@media(max-width:900px) {
    .services-section h1 {
        font-size: 2rem;
        width: 43vh;
    }

    .services-section span {
        font-size: 1.2rem;
    }
}